NUXT_RESEND_API_KEY=
NUXT_RESEND_FROM="Mahzen.bio <noreply@mahzen.bio>"
NUXT_RESEND_TO=

NUXT_STUDIO_AUTH_GITHUB_CLIENT_ID=
NUXT_STUDIO_AUTH_GITHUB_CLIENT_SECRET=
NUXT_SESSION_PASSWORD=
NUXT_STUDIO_AUTH_GITHUB_MODERATORS=
